//Fonts
$font-family: 'Rubik', sans-serif;
$font-bold: (
    'regular': 400,
    'medium': 500,
    'bold': 700
);


//Colors
$c-primary-color: rgb(150, 150, 150);
$c-secundary-color: rgb(43, 43, 43);
$c-white: rgb(255, 255, 255);


//Others
$border-radius: .7rem